body {
    background-color:#c4b7b7;
    font-family: 'Indie Flower', cursive;

}

#container {
    background-color:#815f48;
    width: 100px;
    margin: 155px auto;
    border-radius: 15px;
    font: 14.5em;
   
}

header {
    background-color:  #c4b7b7;
    border-radius: px px 0 0;

}

header h1 {
    font-size: 5.5em;
    text-align: center;
    color: #696969;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 2px #140c02;

}

nav {
    background-color: #c49962;
    text-align: center;

}

nav a {
    display: inline-block;
    background-color: #241405dc;
    height: 75px;
    width: 180px;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 75px;
    color: #c4b7b7;
    text-decoration: none;
    border-radius: 45px 45px 0 0;
    margin: 0 45px;
}

nav a:hover {
    background-color: #815f48;
    color: #ac3030;
}

main {
    background-color:#c4b7b7 ;
    margin: 0 20px 20px 20px;
    font-size: 14.5em;
}

main h2 {
    text-align: center;
    color: #815f48;
    font: 3.5em;
    font-family: 'Indie Flower', cursive;
}

main img {
    display: block;
    width: 2.25%;
    margin: 25px auto;
    background-color: #3f2502;
    padding: 15px;
    border-radius: 15px;
}

footer {
    background-color:#c49962;
    padding: 15px 0;
    color: #140c02;
    font-size: 2.5em;
    text-align: center;
    border-radius: 0 0 11px 11px;
}

.active {
    background-color: #815f48;
    color: lightsalmon;
    font-family: 'Indie Flower', cursive;
}

.pro_head {
    text-align: center;
    color:#ac3030;
    font-size: 2.5em;
}