body {
    background-color:#c0c7d4;
    font-size: 2.3em;
    font-family: 'Indie Flower', cursive;
}

img {
    display: block;
    max-width: 100%;
    margin: 2px auto;
}

/* Mobile Styles */

#container {
    background-color:#fdb8b8fa;
    margin: 120px;
    font-family: 'Indie Flower', cursive;
}
    
header {
    padding: 10px;
    border-bottom: 4px solid #96938a;
    font-family: 'Indie Flower', cursive;
}

header h1 {
    text-align: center;
    font-size: 4.5em;
}

.col {
    border: 6px solid #4b4035;
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;
}

.col h2 {
    text-align: center;
    font:  45em; 
    font-family: 'Indie Flower', cursive;
}

.col image {
    width: 50%;
}

.main_img {
    display:  contents;
}    

footer {
    padding: 10px 0;
    text-align: center;
    border-top: 4px solid #96938a;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

@media(min-width: 768px) {
    #container {
        width: 93.5%;
        margin: 120px auto;
    }
    .col {
        width: 100%;
        margin: 1 20px auto;
    }

    .col img {
        width: 110%;
    }
}

@media(min-width: 1224px) {
    #container {
        width: 100%;
    }

    #flex {
        display: flex;
    }

    .col img {
        width: 110%;
    }

    .main_img {
        display: block;
        width: 110%;
        margin: 110px auto;  
    }   
}